<nav class="admin-nav">
    <div class="container">
        <ul>
            <li><a href="/admin-dashboard" class="{{#if isDashboard}}active{{/if}}">Dashboard</a></li>
            <li><a href="/admin-employees" class="{{#if isEmployees}}active{{/if}}">Employees</a></li>
            <li><a href="/admin-departments" class="{{#if isDepartments}}active{{/if}}">Departments</a></li>
            <li><a href="/admin-attendance" class="{{#if isAttendance}}active{{/if}}">Attendance</a></li>
            <li><a href="/admin-payroll" class="{{#if isPayroll}}active{{/if}}">Payroll</a></li>
            <li><a href="/admin-leaves" class="{{#if isLeaves}}active{{/if}}">Leave Management</a></li>
        </ul>
    </div>
</nav>
