<nav class="employee-nav">
    <div class="container">
        <ul>
            <li><a href="/employee-dashboard" class="{{#if isDashboard}}active{{/if}}">Dashboard</a></li>
            <li><a href="/employee-attendance" class="{{#if isAttendance}}active{{/if}}">My Attendance</a></li>
            <li><a href="/employee-payslips" class="{{#if isPayslips}}active{{/if}}">Payslips</a></li>
            <li><a href="/employee-profile" class="{{#if isProfile}}active{{/if}}">My Profile</a></li>
            <li><a href="/employee-leave" class="{{#if isLeave}}active{{/if}}">Leave Request</a></li>
        </ul>
    </div>
</nav>
